body{
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    font-family: 'Input';
}

@font-face {
    font-family: 'Input';
    src: url('../font/InputSansCondensed-ExtraLight.ttf');
    font-weight: normal;
    font-style: normal;

}

a:focus,
input:focus,
select:focus{
    outline: none;
}

nav{
    height: 100vh;
    width: 23vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(114, 114, 114);
    flex-direction: column;
    padding: 0 1.8vh 0 1.8vh;
    user-select: none;
}

nav > div{
    height: 40vh;
    width: fit-content;
    font-size: 2.8vh;
    margin: 0;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

nav > div > div{
    width: fit-content;
    height: 5vh;
    justify-content: flex-start;
}

nav div a{
    text-decoration: none;
    color: white;
}

#homeLink{
    justify-content: center;
    height: 15vh;
    width: fit-content;
    padding: 3vh 0 0 0;
}

#homeLink a{
    box-sizing: border-box;
    border-width: 0;
    border-radius: 0.7vh;
    border-style: solid;
    background-color: rgb(255, 111, 111);
    padding: 1.3vh;
    color: black;
    transition: all 0.3s ease-in-out;
}

#homeLink a:hover{
    text-decoration: none;
    transform: scale(1.1);
}

nav a:hover{
    text-decoration: underline;
}

#indexWrapper{
    display: flex;
    flex-wrap: nowrap;
}

main{
    height: 100vh;
    user-select: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;   
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 auto 0 auto;
}

#registerField{
    display: flex;
    flex-direction: column;
    width: 60%;
    border: 0 solid black;
    border-radius: 1vh;
    padding: 5vh;
}


#registerInput{
    display: flex;
    padding: 1vh;
    height: 37vh;

}


#registerLabels{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 35%;
    padding: 2vh;
}

#registerLabels h2{
    font-size: 3.5vh;
    width: 100%;
    text-align: right;
    margin: 0;
}

#registerInputs{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 65%;
    padding: 2vh;
}

#registerInputs input{
    width: 100%;
    height: 4vh;
    font-size: 2.8vh;
    box-sizing: border-box;
    border-radius: 0.6vh;
    border-color: rgb(204, 204, 204);
    background-color: white;
    border-style: solid;
    border-width: 0.2vh;
    padding: 1vh;
}

#registerBtn button{
    display: block;
    margin: auto auto;
    width: fit-content;
    font-size: 2.5vh;
    text-decoration: none;
    box-sizing: border-box;
    border-width: 0;
    border-radius: 0.7vh;
    border-style: solid;
    background-color: rgb(255, 111, 111);
    padding: 1.8vh;
    color: black;
    transition: all 0.3s ease-in-out;
}

#registerBtn button:hover{
    text-decoration: none;
    transform: scale(1.1);
    cursor: pointer;
}

#registerField h1{
    text-align: center;
    font-size: 6vh;
    color: rgb(255, 85, 85);
}
#registerInputs select{
    font-size: 2.5vh;
    height: 4vh;
    width: fit-content;
    border: 0 solid black;
    border-radius: 0.7vh;
    padding: 0 1vh 0 1vh;
    background-color: rgb(255, 111, 111);
}

select:hover{
    cursor: pointer;
}